[project]
name = "proxy-rules"
version = "0.1.0"
description = "Proxy rules"
dependencies = []
requires-python = "==3.10.*"
readme = "README.md"
license = {text = "MIT"}


[tool.pdm]
distribution = false
